.label {
	display: block;
	margin-bottom: var(--baseline-half);
	font-weight: 600;
}

.input {
	width: 100%;
	padding: var(--baseline-half);
	background: none;
	border: none;
	border-bottom: 2px solid var(--color-blue-500);
	box-sizing: border-box;
	resize: none;

	&::placeholder {
		opacity: 1;
		color: var(--color-blue-300);
	}
}
